@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #222831;
    --second-bg-color: #31363F;
    --text-color: #fff;
    --main-color: #76ABAE;
    --body-font: font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: #7b4bb7;
    font-family: var(--body-font);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: var(--second-bg-color);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    -webkit-filter: drop-shadow(10px);
}

.logo {
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;

    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.navbar a:hover,
.navbar a:active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

/* Breakpoint */
@media (max-width:995px) {
    #menu-icon {
        display: block;
        width: 30px; /* Sesuaikan dengan ukuran logo */
        height: 30px; /* Sesuaikan dengan ukuran logo */
        cursor: pointer;
      }
      
      .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--second-bg-color);
        border-bottom-left-radius: 2rem;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.4);
        display: none; /* Navbar disembunyikan secara default */
      }
      
      .navbar.active {
        display: block; /* Navbar ditampilkan ketika memiliki kelas active */
      }
      
      /* CSS lainnya seperti sebelumnya */
      

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        text-align: center;
    }

    .navbar a:hover,
    .navbar a:active {
        border-bottom: 0.5rem solid var(--main-color);
        border-radius: 0.5rem;
        padding: 1rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
    }
}

.hero-section {
    min-height: 100vh;
}