@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #222831;
    --second-bg-color: #31363F;
    --text-color: #fff;
    --main-color: #76ABAE;
    --body-font: font-family: "Poppins", sans-serif;
    --dark-background: #000 /* rgb(55, 57, 58) */;
    --primary-color: #76ABAE;
    --secondary-color: #7ed4d8;
    --nav:#0C0C0C;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    font-family: var(--body-font);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: var(--second-bg-color);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    -webkit-filter: drop-shadow(10px);
}

.logo {
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;

    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.navbar a:hover,
.navbar a:active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

/* Breakpoint */
@media (max-width:995px) {
    #menu-icon {
        display: block;
        width: 30px;
        /* Sesuaikan dengan ukuran logo */
        height: 30px;
        /* Sesuaikan dengan ukuran logo */
        cursor: pointer;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--second-bg-color);
        border-bottom-left-radius: 2rem;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.4);
        display: none;
        /* Navbar disembunyikan secara default */
    }

    .navbar.active {
        display: block;
        /* Navbar ditampilkan ketika memiliki kelas active */
    }

    /* CSS lainnya seperti sebelumnya */


    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        text-align: center;
    }

    .navbar a:hover,
    .navbar a:active {
        border-bottom: 0.5rem solid var(--main-color);
        border-radius: 0.5rem;
        padding: 1rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
    }
}

/* hero section */

.hero_section {
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    
}

.perkenalan{
    max-width: 500px;
}


.perkenalan h1{
    font-size: 56px;
    font-weight: 600px;
}

.perkenalan p{
    font-size: 16px;
}


.perkenalan .btn {
    background-color: transparent;    
    border: solid 3px var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    padding: 0.8rem 1.8rem;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 1.4rem;
    box-shadow: 0px 0px 10px 0px var(--secondary-color);
    transition: all 300ms ease;
}

.perkenalan .btn:hover {
    box-shadow: 0px 0px 20px 0px var(--secondary-color);
    color: whitesmoke;
    background-image: linear-gradient(60deg, var(--primary-color), var(--secondary-color));
}

.foto-hero{
    width: 410px;
    height: 410px;

}

.foto-hero .lingkaran{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-hero .lingkaran::after{
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    background: var(--bg-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.image img{
    max-width: 300px;
    object-fit: cover;
    position: absolute;
    overflow: hidden;

}

.lingkaran .image{
    position: relative;
    width: 380px;
    height: 380px;
    overflow: hidden;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    justify-content:center ;
    border: 8px solid #eeeeee ;
    align-items: center;
}

.sosial-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 2rem 1.5rem 2rem 0;
    transition: 0.3s ease-in-out;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.sosial-icons a:hover {
    box-shadow: 0px 0px 20px 0px var(--secondary-color);
    transform: scale(1.1)translateY(-5px);
    color: whitesmoke;
    background-image: linear-gradient(60deg, var(--primary-color), var(--secondary-color));
    -webkit-transform: scale(1.1)translateY(-5px);
    -moz-transform: scale(1.1)translateY(-5px);
    -ms-transform: scale(1.1)translateY(-5px);
    -o-transform: scale(1.1)translateY(-5px);
}

@media screen and (max-width: 995px) {
    .hero_section {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 200px;
        padding-bottom: 20px; /* tambahkan padding atas lebih besar */
    }

    .perkenalan, .foto-hero {
        max-width: 100%;
        width: 100%;
    }

    .foto-hero {
        margin-bottom: 30px;
    }

    .perkenalan {
        margin-top: 40px;
    }

    .perkenalan h1{
        font-size: 36px;
    }

    .perkenalan .btn {
        font-size: 14px;
    }
}

/* tentang saya */
.tentang_saya {
    background-color: var(--second-bg-color);
    width: 100%;
    justify-content: center;
    height: 100vh;
    display: flex;
    gap: 10rem;
    align-items: center;
    padding: 70px 10% 0;
}

.tentang_saya .foto-diri img{
    width: 600px;
    box-shadow: 9px 8px 34px -5px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 9px 8px 34px -5px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 9px 8px 34px -5px rgba(0, 0, 0, 0.59);
}

.saya .heading{
    text-align: center;
    font-size: 8rem;
}

.saya h2 span{
    color: var(--main-color);
    text-shadow: 0 0 50px var(--main-color);
}

.saya h2{
    text-align: left;
    line-height: 1.5;
}

.saya h3{
    font-size: 2.6rem;
}

.saya p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}


